.rows {
    border: 2px;
    border-color: black;
    padding: 100px
}

body {
    border: 2px
}

.table {
    margin: 100px;
    padding: 100px;
    border-color: black;
    border: 20px;
}

.each {
    margin: 20px;
    border-color: black;
    border: 10px;
}